#alerts-toc-sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  transition: right 0.5s;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.Page.Page--elevation {
  transition: margin-left 0.5s;
}

#alerts-toc-button {
  margin-bottom: 0;
}

span.alerts-toc-sci {
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 1 auto;
}

ol#alerts-toc-ol {
  margin: 0;
}

ol#alerts-toc-ol li {
  flex-wrap: nowrap;
  justify-content: space-between;
}
