#alerts-toc-sidenav {
  --min-toc-size: 25%;
  --max-toc-size: 30%;

  height: 100%;
  width: var(--min-toc-size);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  padding: 0.5rem 0.5rem 1.5rem;
  border-right: 1px solid #ccc;
}

.Page.Page--elevation {
  position: absolute;
  left: 0;
  right: 0;
}

#alerts-toc-button {
  margin-bottom: 0;
  padding-block: 0.5rem;
  position: fixed;
  top: 50%;
  left: 2px;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-50%);
}

span.alerts-toc-sci {
  margin-left: 0;
  margin-right: 0.5rem;
  flex: 0 1 auto;
}

ol#alerts-toc-ol {
  margin: 0;
}

ol#alerts-toc-ol li {
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.35rem 0.5rem;
  margin: 0;
}

ol#alerts-toc-ol li:nth-child(even) {
  background-color: #f8f8f8;
}

ol#alerts-toc-ol #alerts-toc-header {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #d6d6d6;
}

@media (min-width: 904px) {
  #alerts-toc-sidenav {
    width: var(--max-toc-size);
  }
}

@media (max-width: 600px) {
  .alerts-toc-count,
  ol#alerts-toc-ol #alerts-toc-header {
    display: none;
  }
}
